# Created by .ignore support plugin (hsz.mobi)
#
.idea/
.gradle/
build/
*.iml
log4j.log
out/
src/test/java/
/src/main/java/test/
!/src/main/scala/compiler/tokenizer/Tokenizer.scala
/cobalt_java/
/cobalt_generated/
!/cobalt_generated/
!/cobalt_java/
